{% extends 'layout.twig' %}

{% block body %}

  {% set name = user.name or user.username %}

  <audio id="sound-message" preload="auto">
    <source src="sounds/message.mp3">
  </audio>

  <audio id="sound-online" preload="auto">
    <source src="sounds/online.mp3">
  </audio>

  <audio id="sound-offline" preload="auto">
    <source src="sounds/offline.mp3">
  </audio>

  <audio id="sound-typing" preload="auto">
    <source src="sounds/typing.mp3">
  </audio>

  <div class="container content">
    <div class="row">
      <div class="col-5">
        <form id="chat-form" data-id="{{ user._id }}" data-username="{{ name }}">
          <div class="form-group">
            <textarea class="form-control" id="msg" rows="3"></textarea>
          </div>
          <button type="submit" id="submit-button" class="btn btn-primary">Send</button>
          <span id="online" class="text-muted" data-toggle="popover" data-content="">
            Online: 0
          </span>
        </form>
        <br><br>
        <div id="feedback" class="text-muted"></div>
      </div>
      <div class="col-7" id="chat-container">
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/chat.js"></script>
{% endblock %}
