{% extends 'layout.twig' %}

{% block body %}

  {% include '../partials/messages.twig' %}

  <div class="container content">
    <div class="row">
      <div class="col">
        <h1>
          Homepage
        </h1>
      </div>
    </div>
  </div>
{% endblock %}
